body{
    font-family:Verdana, Geneva, Tahoma,'Arial Narrow', Arial, sans-serif;
    background-image: url(../image/背景图片.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
;}

header{
    height: 50px;
    margin: -10px,-10px,0px,-10px;
} 

header #header_1 p{
    width: 240px;
    font-size: large;
    color:#b39858;
    font-weight:bold;
    margin: 20px;
    margin-bottom: 0;
}

header #header_2 p{
    font-size: 6px;
    color:ghostwhite;
    font-weight: normal;
    padding-left: 220px;
    margin-top: 10px;
}

nav{
    margin-left: 40px;
}

nav a{
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    color: ghostwhite;
    text-decoration: none;
}
nav a:hover{
    background:rgba(133, 117, 12, 0.5);
}
nav .nav_1{
    color: ghostwhite;
}
.span_1{
    color: #b39858;
}
#depart{
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color:ghostwhite;
}

footer{
    font-size: smaller;
    color:ghostwhite;
    text-align: center;
    clear: both;
}
#depart1{
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color:ghostwhite;
}
