#content{
    background-color:rgb(255, 255, 255,0.7);
    width: 1200px;
    height: 2100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.img_1{
    width: 510px;
    height: 230px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 20px;
    border-radius: 10px;
}

#content .depart_1{
    margin-top: 20px;
    background-color: ghostwhite;
    height: 1px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
#title{
    background-color:#b39858;
    width: 70px;
    height: 20px;
    font-weight: normal;
    border-radius: 10px;
    margin-left: 40px;
    text-align: center;
    color: ghostwhite;
    margin-bottom: 10px;
}

.content_1{
    display:table;
    border-spacing:40px;
    margin: 0px 40px 0px 40px;
}

.tableRow{
    display: table-row;
}

.table{
    display: table-cell;
    background-color:rgba(168, 156, 156, 0.7);
    width: 320px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    vertical-align: auto;
}

.img_2{
    margin-top: 20px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
}
.word{
    font-size: small;
    margin-right: 20px;
    margin-left: 20px;
}