#content{
    background-color:rgb(255, 255, 255,0.7);
    width: 1200px;
    height: 1850px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.img_1{
    width: 510px;
    height: 230px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 20px;
    border-radius: 10px;
}

#content .depart_1{
    margin-top: 20px;
    background-color: ghostwhite;
    height: 1px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
#contents{
    margin-right: 30px;
    margin-left: 30px;   
}
#content_1{
   width: 900px;
   height: auto;
   float: right;
}
#content_1 p{
    font-size: small;
}

#content #content_2{
    width: 70px;
    text-align: center;
    margin-left: 70px;
}

#content_2 #title{
    background-color:#b39858;
    width: 70px;
    height: 20px;
    margin-left: 0px;
    font-weight: normal;
    border-radius: 10px;
    text-align: center;
    color: ghostwhite;
    margin-bottom: 10px;
}
#content_2_1 p{
    font-size: small;
    color: black;
}
#content_2_1 a{
    text-decoration: none;
}

.word{
    font-weight:bold;
}

#content_3{
    height: 170px;
    width: 220px;
    background-color: #fff;
    margin: 5px;
    border: black solid 1px;
    float: right;

}

.img_2{
    height: 150px;
    width: 200px;
    margin: 10px;
    border: black solid 1px;
}

#content_4{
    height: 170px;
    width: 220px;
    background-color: #fff;
    border: black solid 1px;
    float: left;
    margin: 5px;
}

.img_3{
    height: 150px;
    width: 200px;
    margin: 10px;
    border: black solid 1px;
}